@page
@model outer_space.Web.Pages.Galaxies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Galaxy[0].GalaxyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Galaxy[0].GalaxyDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Galaxy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GalaxyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalaxyDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GalaxyID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GalaxyID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GalaxyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
